<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milelu.service.mapper.FragmentModelMapper">

    <resultMap type="FragmentModel" id="FragmentModelResult">
        <result property="id"    column="id"    />
        <result property="alias"    column="alias"    />
        <result property="code"    column="code"    />
        <result property="templateId"    column="template_id"    />
        <result property="size"    column="size"    />
        <result property="fileName"    column="file_name"    />
        <result property="defaultFieldList"    column="default_field_list"    />
        <result property="extendFieldList"    column="extend_field_list"    />
        <result property="allFieldList"    column="all_field_list"    />
        <result property="requiredFieldList"    column="required_field_list"    />
        <result property="fieldTextMap"    column="field_text_map"    />
        <result property="createId"    column="create_id"    />
        <result property="modifiedId"    column="modified_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFragmentModelVo">
        select id, alias, code, template_id, size, file_name, default_field_list, extend_field_list, all_field_list, required_field_list, field_text_map, create_id, modified_id, create_time, update_time from cms_fragment_model
    </sql>

    <select id="selectFragmentModelList" parameterType="FragmentModel" resultMap="FragmentModelResult">
        <include refid="selectFragmentModelVo"/>
        <where>
            <if test="alias != null  and alias != ''"> and alias = #{alias}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="templateId != null  and templateId != ''"> and template_id = #{templateId}</if>
            <if test="size != null "> and size = #{size}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="defaultFieldList != null  and defaultFieldList != ''"> and default_field_list = #{defaultFieldList}</if>
            <if test="extendFieldList != null  and extendFieldList != ''"> and extend_field_list = #{extendFieldList}</if>
            <if test="allFieldList != null  and allFieldList != ''"> and all_field_list = #{allFieldList}</if>
            <if test="requiredFieldList != null  and requiredFieldList != ''"> and required_field_list = #{requiredFieldList}</if>
            <if test="fieldTextMap != null  and fieldTextMap != ''"> and field_text_map = #{fieldTextMap}</if>
            <if test="createId != null  and createId != ''"> and create_id = #{createId}</if>
            <if test="modifiedId != null  and modifiedId != ''"> and modified_id = #{modifiedId}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>

    <select id="selectFragmentModelById" parameterType="String" resultMap="FragmentModelResult">
        <include refid="selectFragmentModelVo"/>
        where id = #{id}
    </select>
    <select id="checkCode" parameterType="String" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM cms_fragment_model WHERE code=#{code}
    </select>

    <select id="selectFragmentList" resultType="com.milelu.service.domain.FragmentModel">
        SELECT fram.id ,fram.alias FROM cms_fragment_model fram
    </select>
    <select id="getFragmentDesign" resultType="java.lang.String">
        SELECT all_field_list FROM cms_fragment_model WHERE id = #{id}
    </select>
    <select id="getFragmentExtendDesign" resultType="java.lang.String">
        SELECT extend_field_list FROM cms_fragment_model WHERE id = #{id}
    </select>
    <select id="getFragmentPathByCode" resultType="java.lang.String">
        SELECT frm.file_name fileName FROM cms_fragment_model frm
        WHERE code = #{code} LIMIT 1
    </select>

    <insert id="insertFragmentModel" parameterType="FragmentModel">
        insert into cms_fragment_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="alias != null">alias,</if>
            <if test="code != null">code,</if>
            <if test="templateId != null">template_id,</if>
            <if test="size != null">size,</if>
            <if test="fileName != null">file_name,</if>
            <if test="defaultFieldList != null">default_field_list,</if>
            <if test="extendFieldList != null">extend_field_list,</if>
            <if test="allFieldList != null">all_field_list,</if>
            <if test="requiredFieldList != null">required_field_list,</if>
            <if test="fieldTextMap != null">field_text_map,</if>
            <if test="createId != null and createId != ''">create_id,</if>
            <if test="modifiedId != null">modified_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="alias != null">#{alias},</if>
            <if test="code != null">#{code},</if>
            <if test="templateId != null">#{templateId},</if>
            <if test="size != null">#{size},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="defaultFieldList != null">#{defaultFieldList},</if>
            <if test="extendFieldList != null">#{extendFieldList},</if>
            <if test="allFieldList != null">#{allFieldList},</if>
            <if test="requiredFieldList != null">#{requiredFieldList},</if>
            <if test="fieldTextMap != null">#{fieldTextMap},</if>
            <if test="createId != null and createId != ''">#{createId},</if>
            <if test="modifiedId != null">#{modifiedId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateFragmentModel" parameterType="FragmentModel">
        update cms_fragment_model
        <trim prefix="SET" suffixOverrides=",">
            <if test="alias != null">alias = #{alias},</if>
            <if test="code != null">code = #{code},</if>
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="size != null">size = #{size},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="defaultFieldList != null">default_field_list = #{defaultFieldList},</if>
            <if test="extendFieldList != null">extend_field_list = #{extendFieldList},</if>
            <if test="allFieldList != null">all_field_list = #{allFieldList},</if>
            <if test="requiredFieldList != null">required_field_list = #{requiredFieldList},</if>
            <if test="fieldTextMap != null">field_text_map = #{fieldTextMap},</if>
            <if test="createId != null and createId != ''">create_id = #{createId},</if>
            <if test="modifiedId != null">modified_id = #{modifiedId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFragmentModelById" parameterType="String">
        delete from cms_fragment_model where id = #{id}
    </delete>

    <delete id="deleteFragmentModelByIds" parameterType="String">
        delete from cms_fragment_model where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
